*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header{
    background-color: yellow;
    border-bottom: 4px solid blue;
    font-weight: bold;
}

.menu>li{
    display: inline-block;
    padding:15px;
    position:relative;
    border-bottom:4px solid transparent;
}

.container li a {
    font-size: 17px;
    text-decoration: none;
}

.menu a:visited{
    color:blue
}

.menu li:hover{
    border-color: black;
    cursor: pointer;
}

.conteudo{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.sobre-a-loja .sobre{
    display: flex;
    align-items: center;
}

.sobre-a-loja .sobre img{
width: 222px;
height: auto;
margin-right: 16px;
}
.sobre-a-loja .sobre .texto{
    max-width:calc(100% -216px);
}
.titulo{
 margin-bottom:8px;
 border-bottom:3px solid blue; 
padding-bottom:8px;
margin-bottom:8px;
}



.produtos .produto{
    display:grid;
    grid-template-columns:repeat( auto-fit,minmax(250px,1fr));
    column-gap:2%;
    row-gap:5%
}


.item img{
    width:100%;
    height:75%;
    object-fit: contain;
    background-color: white;
    max-width: 300px;
    margin-bottom: 16px;
}


.produtos button{
    background-color: orangered;
    padding: 2px;
    color: rgb(253, 251, 251);
    border: none;
    width: 100%;
    margin-top:auto
}


.produtos .produto .item{
    display: flex;
    flex-direction: column;
    
    border: 1px solid ; 
    border-radius: 4px;
    height: 100%;
}

#contato .container{
    display: block;
    margin-top: 1100px
}


.metodos-contato{
    display: flex;
    justify-content: space-between;
}

.social-links img{
    height: 60px;
}

.social-links li{
    display: inline;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}


.container h3{
    margin-bottom: 18px;;
}

form textarea{
    resize: none;
    height: 180px;
}

form button{
    background:chocolate ;
    cursor: pointer;
}


footer.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer{
    background:burlywood ;
    padding: 1px 0;
    margin-bottom: 0px;
    color: red;
    font-weight: bold;
}


@media screen and (max-width:640px){
    .container{
        max-width: 60%;
        margin: 0 auto;
    }
}



@media screen and (max-width:768px){
footer{
    text-align: center;
    padding: 20px;
}

#contato .container{
margin-top: 2200px;
}


}
